@import "modules/carey";
@import "modules/kelsey";
@import "modules/flo";

body{
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;

}

.header-container{
    width: 100%;
    margin: 0 auto;
    background-color:#FECE3D;
    position: fixed;
    top: 0;
    z-index: 2;
    border-bottom: solid 3px #fff;
    h1{
        margin: 20px;
        margin-bottom: 0;
        padding: 10px;
        padding-bottom: 5px;
        font-weight: 700;
        text-align: center;
        font-size: 35px;
        color: black;
        text-transform: uppercase;
    }
    p{
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        color: black;
        font-size: 16;
        font-weight: 600;
        padding-bottom: 20px;
    }
}

.sub-projects-links-container{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    z-index: 1;
    position: fixed;
    bottom: 0;
    background-color: #FECE3D;
    border-top: solid 3px #fff;
    h4{
        margin: 0;
        margin-top: 25px;
        font-weight: 600;
        font-size: 25px;
    }
    .icon-links-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 20px;
    }
    .icon-wrapper{
        margin: 20;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 200px;

        p{
            margin: 0;
            padding: 0;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
        }
    }
    .find-out-more-icon{
        font-size: 60px;
        color:black;
        margin-left: 50px;
        margin-right: 50px;
    }
}

    