#map {
        height: 100%;
        width: 100%;
        background-color: green;
        display: inline-block;
       }

.header1{
	font-size: 32px;
	color: #1E824C;
	padding-left: 30px;
	font-family: 'Sirin Stencil';
	margin-bottom: 0px;
}

.control  {
	height: 220px;
	width: 100%;
	display: inline-block;
	background-color: #EEEEEE;
	top: 0px;
}

body {
	margin: 0px;
}

.container_one{
	height: 100vh;
	width: 100%;
}

.intro {
	padding-left: 30px;
	color: #6C7A89;
	font-family: 'Sirin Stencil';
}

.info {
	margin: 0px;
	line-height: 30px;
	padding-left: 15px;
	padding-top: 1px;
	color: #6C7A89;
	font-family: 'Sirin Stencil';

}

.type {
	width: 30%;
	height: 47%;
	display: inline-block;
	margin: 0 auto;
	float: right;
	margin-right: 30px;
	border: 1px solid #1E824C;
	margin-top: 10px;

}

.rating {
	width: 30%;
	height: 50%;
	display: inline-block;
	margin: 0 auto;
	
}
.text {
	width: 30%;
	height: 50%;
	display: inline-block;
	margin: 0 auto;
	float: left;
}

li {
	font-family: 'Sirin Stencil';
	color: #6C7A89;
	text-align: center;
	width: 100%;
	border: 1px solid #1E824C;
	margin-bottom: 5px;
	list-style-type: none;
	height: 28px;
}

li:hover { 
    background-color: #1E824C;
    color: white;
}

.button {
	height: 30px;
	width: 80px;
	text-decoration: none;
	color: white;
	background-color: #1E824C;
	float: left;
	font-family: 'Sirin Stencil';
	text-align: center;
	padding-top: 4px;
	margin-left: 30px;
}